{
    "semi": true,
    "singleQuote": true,
    "useEditorConfig": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "endOfLine": "auto",
    "no-restricted-syntax": false,
    "tabWidth": 4,
    "proseWrap": "preserve"
}
